/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

:root {
  --white: #f5f5f5;
  --black: #1d1c1d;
  --yellow: #ffc222;
  --red: #fb6666;
  --green: #8aad4e;
  --blue: #00adf1;
  --purple: #d88fd0;
}


/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after { box-sizing: inherit; }

body,h1,h2,h3,h4,h5,h6,
p,ol,ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

ol,ul { list-style: none; }

body {
  background: #ccc;
}

/* Header */
.global-header {
  background: #1d1c1d;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  max-height: 69px;
}

.global-header img { width: 300px; }

.global-header .date-time {
  padding: 0 30px 0 0;
  font-size: 1.25em; 
}

.global-header .date-time span.date {
  padding-right: 10px; 
}

.global-header .nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-header .nav-time .nav ul li{
  padding: 0 20px 0 20px;
}

.global-header .nav-time .nav {
  margin-right: 50px;
}

.global-header .nav-time .nav li img {
  filter: invert(100%);
  width:25px;
}

.global-header .nav-time {
  display: flex;
  align-content: space-around;
}

h2 {  
  color: var(--black);
  font-size: 2.25em;
  font-weight: 700;
  padding: 10px;
}



/* SPRINTS */
a{
  color: #000;
  text-decoration: none;
}

section { 
  padding:10px;
  width:85%;
  margin: 0 auto;
}

.sprints-container {
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(3, 1fr);
}

.sprint { 
  background: var(--white); 
  padding:5px;
}

.sprint > h3, .sprint > h4 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.sprint > h3 {
  font-size: 1.55em;
  font-weight: 700;
}

.sprint > h4 {
  font-size: 1.05em;
  font-weight: 500;
}

ul.project-list li{
  background: rgba(0,0,0,0.13);
  font-size:11px;
  display: inline-block;
  padding:8px;
  border-radius: 10px;
   text-transform: capitalize;
}

.card-stats ul {
  display: flex;
  justify-content:flex-end;
}

.card-stats ul li { 
  min-width:30px;
  padding: 5px;
  text-align: center;
  color: var(--black);
  margin:2px;
}


.stat-none { background: var(--red); }
.stat-future { background: var(--yellow) }
.stat-in-progress { background: var(--blue) }
.stat-completed { background: var(--green); }
.stat-accepted { background: var(--purple); }





/* PROJECTS */
table { 
  width:100%; 
  border-collapse: collapse; 
  padding:10px;
}

thead { 
  background: var(--yellow); 
  text-align:left; 
  border-bottom: 1px solid var(--black);
}

th { 
  padding: 10px; 
  font-weight: 700;
}


tbody td { 
  padding: 10px; 
  border-bottom: 1px solid var(--black);
}


tbody tr { background: var(--white); }


tbody tr:nth-child(-n+2) { 
  color: var(--black);
  border-collapse:10px; 
  border-spacing:5em;
}

tbody tr:nth-child(-n+2) > td { 
  background: #cceefc;
  color: var(--black);
  font-size: 1.075em;
  font-weight: 700;
}


.headerSortUp::after {
    content: '';
    background: url('../images/up.png') bottom center no-repeat;
    height: 15px;
    width: 35px;
    position: absolute;
    background-size: 35%;
}

.headerSortDown::after {
    content: '';
    background: url('../images/down.png') bottom center no-repeat;
    height: 15px;
    width: 35px;
    position: absolute;
    background-size: 35%;
}